*.iws
/*.zip
/*.zip.sha1
/.classpath
/.emacs.desktop
/.emacs.desktop.lock
/.idea
/.launch
/.project
/.settings
/eclipse
/gnutch-stats.iml
/ivy*
/logs
/plugin.xml
*.log
/target
/test/reports
/web-app/WEB-INF
