<beans:beans xmlns="http://www.springframework.org/schema/integration"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="
                                 http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
                                 http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd"> 

  <camelContext id="camelContext" xmlns="http://camel.apache.org/schema/spring">
    <route>
      <from uri="direct:a"/>
      <to uri="direct:b"/>
    </route>

    <route>
      <from uri="direct:b"/>
      <to uri="direct:c"/>
    </route>

    <route>
      <from uri="direct:c"/>
      <to uri="mock:direct:c"/>
    </route>
  </camelContext>

</beans:beans>
